.header-link {
    font-weight: 500;
    margin-left: 30px;
    padding-bottom: 5px;
    color: var(--blue-color);
    border-bottom: 3px solid white;
    transition: all linear 0.4s;
}

.active {
    border-bottom: 2px solid var(--skyBlue-color);
}

.header-link:hover {
    border-bottom: 2px solid var(--skyBlue-color);
}

.header-icon-title{
    margin-right: 40px;
    font-weight: 600;
    color: var(--blue-color);
    position: relative;
}

.header-icon-title.badge{
    background-color: var(--skyBlue-color) !important;
}

.header-icon-title::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 90px;
    width: 30px;
    height: 2px;
    border-top: 3px dotted lightgray;
}

.header-icon{
    position: relative;
    top: 0;
    font-size: 24px;
    color: var(--skyBlue-color);
    transition: all linear 0.4s;
}

.header-icon:hover {
    cursor: pointer;
    top: -5px;
    color: var(--blue-color);
}