.about-subHeading{
    font-weight: 600;
    font-size: 24px;
    color: #222;
}

.badge{
    font-size: 13px !important;
    background-color: var(--blue-color) !important;
    color: white !important;
    font-weight: 400 !important;
    padding: 6px !important;
}

.skill-details{
    padding: 30px;
    background-color: #f0f7ff;
}