@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --blue-color: #4152a4;
  --red-color: #f36648;
  --skyBlue-color: #4099f7;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none !important;
}